<footer>
    <div class="footer-main">
        <div class="footer-img">
            <img src="{{ asset('Img-accueil/logo_pc.png')}}" alt="logo pc">
        </div>

        <nav class="footer-items">
            <ul class="footer-menu">
                <li class="footer-item"><a href="/">Accueil</a></li>
                <li class="footer-item"><a href="/room">Chambres</a></li>
                <li class="footer-item"><a href="/service">Service</a></li>
                <li class="footer-item"><a href="/reservation">Réserver</a></li>
                <li class="footer-item"><a href="/opinion">Avis</a></li>
                <li class="footer-item"><a href="/contact">Contactez-nous</a></li>
                {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li class="footer-item"><a href="/login">Se connecter</a></li>
                    <li class="footer-item"><a href="/register">S'inscrire</a></li>
                {% else %}
                    <li class="footer-item"><a href="/account">Mon profil</a></li>
                {% endif %}
            </ul>
        </nav>

        <div class="footer-follow">
            <div class="footer-follow_sub">
                <p>Suivez-nous</p>
                <div class="footer-follow_img">
                    <img src="{{ asset('svg/facebook.svg') }}" alt="logo facebook">
                    <img src="{{ asset('svg/instagram.svg') }}" alt="logo instagram">
                </div>
            </div>
        </div>
    </div>

    <div class="footer_mentions">
        <a href="#">Mentions Légales</a>
        <a href="#">Politique de confidentialité</a>
    </div>
</footer>