<form method="post" action="{{ path('app_admin_room_delete', {'id': room.id}) }}" onsubmit="return confirm('Supprimer cette chambre ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ room.id) }}">
    <button class="admin-room__btn admin-room__btn--delete">Supprimer</button>
</form>
