@use "../../abstract/variables" as *;
@use "../../components/base" as *;
@use "../../abstract/mixins" as *;

.homePlan {
    background-image: 
    radial-gradient(
        ellipse 80% 50% at center,
        rgba(214, 171, 112, 0.9) 60%,
        rgba(214, 171, 112, 0.7) 70%,
        rgba(214, 171, 112, 0.5) 80%,
        rgba(214, 171, 112, 0.3) 90%,
        rgba(214, 171, 112, 0.15) 100%
        ),
        linear-gradient(
        rgba(214, 171, 112, 0.6)
        ),
        url("/Img-accueil/fond_plan.png");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 45vh;
    padding: 2rem 1rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablet {
        height: auto;
        padding: 4rem 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @include desktop {
        padding: 7rem 4rem;
        min-height: 55vh;
        justify-content: center;
    }

    &__text {
        text-align: center;

        @include tablet {
            max-width: 600px;
        }

        @include desktop {
            max-width: 750px;

            & h2 {
                font-size: 2.2rem;
            }

            & p {
                font-size: 1.1rem;
                line-height: 1.7;
            }
        }
    }

    &__text h2 {
        color: $forest-dark;
    }

    &__text p {
        color: $forest-dark;
    }
}