@use "../../abstract/variables" as *;
@use '../../components/base' as *;

.roomDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &__content {
        padding: 0 3rem;
    }

    &__name {
        padding: 2rem 0;
    }

    &__actions {
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    &__actions a {
        background-color: $gold;
        margin-bottom: 1rem;
        padding: 2rem;
        border-radius: 4px;
    }
}

.btn {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    color: $white;
}