$forest-dark: #274237;
$forest-deep: #1B342A;
$gold: #D6AB70;
$white: #ffffff;
$leaf-light: #63A88C;
$leaf-dark: #2C5F4A;
$background-map: #1F4434;

$font-title: "Forum", serif;
$font-text: "Inter", sans-serif;