<form method="post" action="{{ path('app_admin_photo_delete', {'id': photo.id}) }}" onsubmit="return confirm('Supprimer cette photo ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ photo.id) }}">
    <button class="photo__btn photo__btn--delete">Supprimer</button>
</form>
