<form method="post" action="{{ path('app_admin_service_delete', {'id': service.id}) }}" onsubmit="return confirm('Supprimer se service ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service.id) }}">
    <button class="admin-service__btn admin-service__btn--delete">Supprimer</button>
</form>