{% extends 'base.admin.html.twig' %}

{% block title %}Nouveau service{% endblock %}

{% block body %}
<div class="admin-service-form">
    <div class="admin-service-form__header">
        <h1 class="admin-service-form__titlePage">Nouveau service</h1>
        <a href="{{ path('app_admin_service_index') }}" class="admin-service-form__btn--back">Retour aux services</a>
    </div>

    <div class="admin-service-form__card">
        {{ form_start(form) }}
        <div class="admin-service-form__form">
            {% include 'admin/service/_form.html.twig' %}

            <div class="admin-service-form__actions">
                <a href="{{ path('app_admin_service_index') }}" class="admin-service-form__btn--cancel">Annuler</a>
                <button type="submit" class="admin-service-form__btn--save">Créer le service</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}