@use "../abstract/variables" as *;
@use '../components/base' as *;

.dashboard {
    padding: 5rem;

    &__card {
        background-color: $white;
        box-shadow: 5px 5px 5px 5px rgb(0, 0, 0, 0.4);
        border-radius: 15px;
        margin-bottom: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 2rem;

        & h4 {
            color: black;
            font-size: 2rem;
        }

        & i {
            transform: rotate(-90deg);
            font-size: 3rem;
            color: $gold;
            background-color: $forest-deep;
            border-radius: 50%;
            height: 100px;
            padding: 3rem 2rem;
            display: flex;
            align-items: center;
        }
    }
}